// Font
$mainFont                : 'Source Sans Pro', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #3f3f3f;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 20px;
